.P1{
    background-image: url("./Gxuri_resources/final/AR.png");
    background-size: contain;
    background-position: center;
}
.P2{
    background-image: url("./Gxuri_resources/final/guri_wall.jpg");
    background-size: cover;
    background-position: center;
}
.P3{
    background-image: url("./Gxuri_resources/final/2WAR.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #2a1325;
    background-position: center;
}
.P4{
    background-image: url("./Gxuri_resources/final/Alternate\ roots\ logo\ v1_final\ psd.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
}
.P5{
    background-image: url("./Gxuri_resources/final/car.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
}
.P6{
    background-image: url("./Gxuri_resources/final/Final\ Alternate\ roots\ happy\ new\ year.jpg");
    background-size: cover;
    background-position: center;
}
.P7{
    background-image: url("./Gxuri_resources/final/Final\ AS\ fone\ logo.jpg");
    background-size: cover;
    background-position: center;
}
.P8{
    background-image: url("./Gxuri_resources/final/final\ logo\ Suneha\ tv.jpg");
    background-size: cover;
    background-position: center;
}
.P9{
    background-image: url("./Gxuri_resources/final/green\ car.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
}
.P10{
    background-image: url("./Gxuri_resources/final/gta6\ leaks\ blog\ template.png");
    background-size: cover;
    background-position: center;
}
.P11{
    background-image: url("./Gxuri_resources/final/guri_wall.jpg");
    background-size: cover;
    background-position: center;
}
.P12{
    background-image: url("./Gxuri_resources/final/Happy\ New\ year.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #22293a;
    background-position: center;
}

.P13{
    background-image: url("./Gxuri_resources/final/IMG-20230706-WA0005.jpg");
    background-size: cover;
    background-position: center;
}

.P14{
    background-image: url("./Gxuri_resources/final/IMG-20230706-WA0006.jpg");
    background-size: cover;
   
    background-position: center;
}
.P15{
    background-image: url("./Gxuri_resources/final/IMG-20230706-WA0007.jpg");
    background-size: cover;
    background-position: center;
}
.P16{
    background-image: url("./Gxuri_resources/final/IMG-20230706-WA0008.jpg");
    background-size: cover;
    background-position: center;
}
.P17{
    background-image: url("./Gxuri_resources/final/IMG-20230706-WA0009.jpg");
    background-size: cover;
    background-position: center;
}
.P18{
    background-image: url("./Gxuri_resources/final/IMG-20230706-WA0010.jpg");
    background-size: cover;
    background-position: center;
}
.P19{
    background-image: url("./Gxuri_resources/final/IMG-20230706-WA0011.jpg");
    background-size: cover;
    background-position: center;
}
.P20{
    background-image: url("./Gxuri_resources/final/IMG-20230706-WA0014.jpg");
    background-size: cover;
    background-position: center;
}
.P21{
    background-image: url("./Gxuri_resources/final/IMG-20230706-WA0015.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #d5cfcd;
    background-position: center;
}
.P22{
    background-image: url("./Gxuri_resources/final/JPG\ Punjabi\ CSCZ\ watermark.jpg");
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}
.P23{
    background-image: url("./Gxuri_resources/final/Miss\ Spotless.png");
    background-size: cover;
    background-position: center;
}
.P24{
    background-image: url("./Gxuri_resources/final/SAFRON\ BEAR\ LOGO\ 1.png");
    background-size: cover;
    background-position: center;
}
.P25{
    background-image: url("./Gxuri_resources/final/Sierra\ Blue\ Suneha\ Gurbani\ TV\ Version\ 1.jpg");
    background-size: contain;   
    background-color: black;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}
.P26{
    background-image: url("./Gxuri_resources/final/WAR.jpg");
    background-size: contain;   
    background-color: black;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}
.P27{
    background-image: url("./Gxuri_resources/final/WAR3.jpg");
    background-size: contain;   
    background-color: black;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}
.P28{
    background-image: url("./Gxuri_resources/final/WAR4.jpg");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-color: black; 
    background-position: center;
}

.P29{
    background-image: url("./Gxuri_resources/final2/PB\ Live\ TV\ LOGO.png");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-color: black; 
    background-position: center;
}
.P30{
    background-image: url("./Gxuri_resources/final2/Suneha\ Tv\ Logo\ 3.jpg");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-color:#06484f ; 
    background-position: center;
}

.P31{
    background-image: url("./Gxuri_resources/final/Floral\ pink\ Suneha\ TV\ Version\ 1.jpg");
    background-size: cover;  
    background-repeat: no-repeat;
    background-color: black; 
    background-position: center;
}


.P32{
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-color: black; 
    background-position: center;
}
.P33{
    background-image: url("./Gxuri_resources/final2/PB\ Live\ TV\ LOGO.png");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-color: black; 
    background-position: center;
}
.P34{
    background-image: url("./Gxuri_resources/final2/PB\ Live\ TV\ LOGO.png");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-color: black; 
    background-position: center;
}
.P35{
    background-image: url("./Gxuri_resources/final2/PB\ Live\ TV\ LOGO.png");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-color: black; 
    background-position: center;
}
/* .item-col{
    transition: all .5s ease;
    
}
.item-col:hover{
    box-shadow: 0px 0px 400px #fff;

} */

.vid1{
    background-image: url("./Gxuri_resources/final2/VID-20230706-WA0002.mp4");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}
.vid2{
    background-image: url("./Gxuri_resources/final2/VID-20230706-WA0004.mp4");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}
.vid3{
    background-image: url("./Gxuri_resources/final2//VID-20230706-WA0005.mp4");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}
.vid4{
    background-image: url("./Gxuri_resources/final2/VID-20230706-WA0006.mp4");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}
.vid5{
    background-image: url("./Gxuri_resources/final2/VID-20230706-WA0003.mp4");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}
.vid6{
    background-image: url("./Gxuri_resources/final2/pGTLhQZQ4vWjNQs682tGPp4yK1Ti7upB-MsPlXmhTlo=_plaintext_638242323014551064.mp4");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}
.vid7{
    background-image: url("./Gxuri_resources/final2/slumber party.mp4");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}
.vid8{
    background-image: url("./Gxuri_resources/final2/VID-20230706-WA0008.mp4");
    background-size: contain;  
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}