/* #main-content {
  visibility: hidden;
  display: none;
  transition: all .5s ease;
} */
/* .starter-container{
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transition: all .5s ease;
  opacity: 1;
}
.ml3 {
  color: white;
  font-weight: 900;
  font-size: 3.5em;
} */

@import url("https://fonts.cdnfonts.com/css/open-sauce-one");
* {
  font-family: "Open Sauce One", sans-serif;
  font-family: "Open Sauce Two", sans-serif;
  font-family: "Open Sauce Sans", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  position: static;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ecf0f1;
}
.nav-belt {
  position: relative;
  top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-belt .nav-belt-left {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  width: 60%;
}
.nav-belt .nav-belt-left .bar-1 {
  display: inline-block;
  background-color: black;
  opacity: 0;
  height: 1.5px;
  border-radius: 100px;
  flex-grow: 1;
}
.nav-belt .nav-belt-left .nav-brand {
  font-size: 20px;
  line-height: 100%;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-belt .nav-belt-left .bar-2 {
  display: inline-block;
  background-color: black;
  opacity: 0.2;
  border-radius: 100px;
  flex-grow: 7;
  height: 1.5px;
}
.nav-belt-right {
  display: flex;
  width: 40%;
}
.nav-belt-right li {
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.2;
  transition: all 0.3s ease;
  position: relative;
}
/* .nav-belt-right li::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background-color: #000;
  position: absolute;
  left: 47%;
  bottom: -8px;
  transition: all 0.25s ease;
  opacity: 0;
}
.nav-belt-right li:hover::after {
  opacity: 1;
}
.nav-belt-right li:hover,
.nav-belt-right li:active {
  opacity: 1;
} */

#menu-icon {
  font-size: 30px;
  color: white;
  z-index: 101;
  cursor: pointer;
  display: none;
}

.row-1 {
  margin: 70px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 10px;
}
.row-1 .card-title {
  width: 60%;
  height: 500px;
  border-radius: 62px;
  background-image: url("./assets/defaultcardHover5eef4f09572179.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 17px 20px 40px #00000055;
}
.row-1 .card-gxuri {
  width: 40%;
  height: 500px;
  border-radius: 62px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 17px 20px 40px #00000055;
}
.row-1 .card-gxuri img {
  position: relative;
  top: -100px;
  height: 1400px;
  width: 1400px;
  object-fit: cover;
  transition: all 0.55s ease;
}
.row-1 .card-gxuri img:hover {
  transform: scale(1.1);
}
.card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  font-size: 100px;
}
.card-title-name {
  text-align: center;
  margin-top: 50px;
  color: #000;
  font-size: 0.23em;
  font-weight: bold;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.card-title-title {
  margin-top: 15px;
  color: #000;
  font-size: 65px;
  line-height: 98%;
  font-weight: 900;
}
.card-title-desc {
  margin-top: 15px;
  color: #000;
  font-size: 0.2em;
  line-height: 200%;
  font-weight: 300;
}
.card-buttons {
  margin-top: 20px;
  display: flex;
  margin-top: 11px;
  display: flex;
  align-content: center;
  align-items: flex-end;
}
.card-buttons button {
  margin: 0 10px;
}
.card-title-button {
  border-radius: 60px;
  box-shadow: 17px 15px 40px 0px rgba(0, 0, 0, 0.2117647059);
  background-color: #000;
  font-weight: bold;
  padding: 18px;
  width: 270px;
  height: 65px;
  transition: all 0.55s ease;
  font-size: 0.2em;
}

.card-title-button a {
  text-decoration: none;
  color: white;
}

.card-title-button:hover {
  box-shadow: 0 0 90px 1px orange;
  transform: scale(1.05);
}
.card-git-button {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  border-radius: 60px;
  /* box-shadow: 17px 15px 40px 0px rgba(0, 0, 0, 0.2117647059); */
  background-color: #000;
  color: white;
  font-size: 0.65em;

  display: flex;
  justify-self: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
}
.card-git-button:hover {
  background-color: #ffb811;
}
.card-mail-button {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 17px 15px 40px 0px rgba(0, 0, 0, 0.2117647059);
  background-color: #000;
  color: white;
  font-size: 0.65em;
  display: flex;
  justify-self: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
}
.card-mail-button:hover {
  background: linear-gradient(
    0deg,
    rgba(111, 233, 253, 1) 0%,
    rgba(89, 121, 255, 1) 100%
  );
}

.card-linkedin-button {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 17px 15px 40px 0px rgba(0, 0, 0, 0.2117647059);
  background-color: #fff;
  color: #000;
  font-size: 0.65em;
  display: flex;
  justify-self: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
}
.card-linkedin-button:hover {
  background-color: #fff;
  color: #0077b5;
}
.row-2 {
  margin: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-pp {
  width: 60%;
  height: 650px;
  border-radius: 62px;
  background: #000;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 17px 20px 40px #00000055;
  overflow: hidden;
  position: relative;
}
.card-cc {
  width: 40%;
  height: 650px;
  border-radius: 62px;
  background: #000;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 17px 20px 40px #00000055;
  overflow: hidden;
  position: relative;
}
.card-cc .bg {
  width: 500.2996px;
  height: 500.3021px;
  position: absolute;
  background-image: url("./assets/bg-cc.png");
  left: -9px;
  top: 162px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.7s ease;
}
.card-cc .bg:hover {
  transform: scale(1.1);
}
.card-cc .card-head {
  display: flex;
  margin: 40px;
}
.card-cc .card-head h3 {
  font-size: 30px;
}
.card-cc .card-head p {
  font-size: 18px;
  opacity: 0.5;
}
.card-cc .card-head .logo {
  width: 60px;
  margin-left: 20px;
  height: 60px;
  background-color: #fff;
  border-radius: 50px;
  color: #000;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}

.card-cc .card-head .logo:hover {
  box-shadow: 0 0 40px white;
  transform: rotate(-90deg) scale(1.1);
}

@media (max-width: 990px) {
  .row-1 {
    flex-wrap: wrap;
  }
  .row-1 .card-title,
  .row-1 .card-gxuri {
    width: 100%;
  }
  .card-title-title {
    font-size: 50px;
  }
  #menu-icon {
    display: block;
    color: #000;
  }

  .nav-belt {
    /* position: fixed;
    z-index: 1;
    background-color: white; */
    justify-content: center;
    margin-bottom: 30px;
  }
  .nav-belt-right {
    display: none;
    /* position: absolute;
    top: 0;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: #4d9559;
     display: flex; 
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease; */
  }

  .nav-belt-left .bar-1 {
    display: none;
  }

  .nav-belt-left {
    flex-grow: 1;
    margin-right: 50px;
  }

  .nav-belt-right.open {
    right: 0;
  }
}

.container {
  display: flex;
  /* background-color: gray; */
  justify-content: space-between;
  /* height: 100vw; */
  margin: 70px;
  gap: 10px;
  transition: all 0.5s ease;
}
.flex-row1 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 10px;
}
.flex-row2 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 10px;
}

.item-row {
  display: flex;
  flex-direction: column;
  /* background-color: hotpink; */
  height: 200vw;
  width: 50%;
  justify-content: space-between;
  gap: 10px;
}

.item-col {
  border-radius: 40px;
  background-color: greenyellow;
  height: 50%;
  display: inline-block;
  justify-content: space-between;
  box-shadow: 17px 20px 40px #00000055;
  transition: all 0.5s ease;
  position: relative;
  transform: translate(0); /* Add this line */
}

.container {
  margin-top: 0px;
}

.row-bottom {
  width: 100%;
  display: flex;
  display: flex;
  /* background-color: gray; */
  justify-content: space-between;
  /* height: 100vw; */
  margin: 70px;
  gap: 10px;
  transition: all 0.5s ease;
}

.item-col-below {
  width: 50vw;
}

.item-r {
  border-radius: 35px;
  width: 100%;
  height: 50vh;
  transition: all 0.5s ease;
  box-shadow: 17px 20px 40px #00000055;
}
